.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #6282ae;
}
a:focus,
a:hover {
  color: #4b6992;
}
.jumbotron {
  position: relative;
  margin-top: -60px;
  padding-top: 110px;
  padding-bottom: 10px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4) inset, 0px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #bad1f4;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: -webkit-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: -o-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: linear-gradient(45deg, #6282ae, #bad1f4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.jumbotron .container-fluid {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  right: 20px;
  bottom: 0;
  left: 0;
  background: url(../../images/sciencecloudslogo-atom.png) no-repeat right center;
  background-size: 200px;
  opacity: .4;
}
.masthead h1 {
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 90px;
  line-height: 120px;
  letter-spacing: -2px;
  font-weight: bold;
  opacity: .9;
}
ul#homepage-header-links {
  margin: 0;
  z-index: 10;
}
#homepage-header-links li {
  display: inline;
  margin-right: 15px;
  list-style-type: none;
}
#homepage-header-links li a {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
}
.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.navbar-inner {
  background-color: #bad1f4;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: -webkit-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: -o-linear-gradient(45deg, #6282ae, #bad1f4);
  background-image: linear-gradient(45deg, #6282ae, #bad1f4);
}
.navbar .brand#logo {
  text-shadow: 0px 1px 0px #000000 !important;
  color: #FFFFFF !important;
}
.navbar .nav {
  padding-left: 10px;
}
.navbar .nav > li > a {
  text-shadow: 0px 1px 0px #000000 !important;
  font-weight: bold;
  color: #FFFFFF;
}
.navbar .nav > li > a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.btn-navbar {
  margin: 0;
  background: #bad1f4 !important;
}
.main {
  padding-left: 20px;
}
.attribution {
  font-size: 14px;
  color: #aaaaaa;
}
.row {
  margin-left: 0px;
}
#recent-posts > h4 > a {
  color: #333333;
}
#recent-posts > ul {
  margin-left: 0;
}
#recent-posts > ul > li {
  list-style-type: none;
}
#social-links {
  text-align: right;
  margin-top: -10px;
}
#social-links > a > img {
  max-width: 35px;
  opacity: 0.8;
}
#social-links-nav {
  text-align: right;
  padding-top: 3px;
}
#social-links-nav > a > img {
  max-width: 32px;
  opacity: 0.8;
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: 0px;
  }
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  #outer-container {
    margin-top: 0;
    padding-top: 20px;
  }
  .navbar-inner {
    padding-left: 10px !important;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
  }
  #outer-container {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-inner {
    padding-left: 10px !important;
  }
}
/* Phone-specific */
@media (max-width: 480px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
  }
  .jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    right: 10px;
    bottom: 0;
    left: 0;
    background-size: 100px;
    opacity: .4;
  }
  .masthead {
    padding-top: 60px;
  }
  .masthead h1 {
    font-size: 60px;
    line-height: 55px;
    letter-spacing: -2px;
  }
  #sub-header {
    display: none;
  }
  #outer-container {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #social-links-nav {
    display: none;
  }
  #sidebar1 {
    display: none;
  }
}
