@import "mixins.less";

@logo-url: url(../../images/sciencecloudslogo-beaker.png);
@header-font: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
@body-font: "Helvetica Neue",Helvetica,Arial,sans-serif;

@nimbus-dark: #6282AE;
@nimbus-light: #BAD1F4;

@patrick-dark: #033577;
@patrick-light: #4DBCE9;

@pierre-dark: #60975F;
@pierre-light: #9ECC9D;

@pumpkin-dark: #e67e22;
@pumpkin-light: #d35400;

@red-dark: #c0392b;
@red-light: #e74c3c;

@primary-dark: @nimbus-dark;
@primary-darker: darken(@primary-dark, 10%);
@primary-light: @nimbus-light;

@subdued: #AAA;

body {
    font-family: @header-font;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: @body-font;
}

a {
    color: @primary-dark;
}

a:focus, a:hover {
    color: @primary-darker;
}

.jumbotron {
    position: relative;
    margin-top: -60px;
    padding-top: 110px;
    padding-bottom: 10px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4) inset, 0px 1px 10px rgba(0, 0, 0, 0.1);
    #gradient > .directional(@primary-dark, @primary-light, 45deg);
    font-family: @body-font;
}

.jumbotron .container-fluid {
    position: relative;
    z-index: 2;
}

.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    right: 20px;
    bottom: 0;
    left: 0;
    background: @logo-url no-repeat right center;
    background-size: 125px;
    opacity: .4;
}


.masthead h1 {
    color: #FFFFFF;
    text-shadow:0px 1px 3px rgba(0, 0, 0, 0.7);
    font-size: 90px;
    line-height: 120px;
    letter-spacing: -2px;
    font-weight: bold;
    opacity: .9;
}

ul#homepage-header-links {
    margin: 0;
    z-index: 10;
}

#homepage-header-links li {
    display: inline;
    margin-right: 15px;
    list-style-type: none;
}

#homepage-header-links li a {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:0px 1px 3px rgba(0, 0, 0, 0.7);
}

.navbar {
    font-family: @body-font;
    margin: 0;
}

.navbar-inner {
    #gradient > .directional(@primary-dark, @primary-light, 45deg);
}


.navbar .brand#logo {
    text-shadow: 0px 1px 0px rgb(0, 0, 0) !important;
    color: #FFFFFF !important;
}

.navbar .nav {
    padding-left: 10px;
}

.navbar .nav > li > a {
    text-shadow: 0px 1px 0px #000000 !important;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.btn-navbar {
    margin: 0;
    background: @primary-light !important;
}

.main {
    padding-left: 20px;
}

.attribution {
    font-size: 14px;
    color: @subdued;
}

.row {
    margin-left: 0px;
}

#recent-posts > h4 > a {
    color: rgb(51, 51, 51);
}

#recent-posts > ul {
    margin-left: 0;
}

#recent-posts > ul > li {
    list-style-type: none;
}

#social-links {
    text-align: right;
    margin-top: -10px;
}

#social-links > a > img {
    max-width: 35px;
    opacity: 0.8;
}

#social-links-nav {
    text-align: right;
    padding-top: 3px;
}

#social-links-nav > a > img {
    max-width: 32px;
    opacity: 0.8;
}

@media (min-width: 768px) and (max-width: 979px) {
    .row {
        margin-left: 0px;
    }
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

    #outer-container {
        margin-top: 0;
        padding-top: 20px;
    }

    .navbar-inner {
        padding-left: 10px !important;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

    .jumbotron {
        padding-left: 10px;
        padding-right: 10px;
    }

    #outer-container {
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-inner {
        padding-left: 10px !important;
    }
}


/* Phone-specific */
@media (max-width: 480px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

    .jumbotron {
        padding-left: 10px;
        padding-right: 10px;
    }

    .jumbotron:after {
        content: '';
        display: block;
        position: absolute;
        top: 80px;
        right: 10px;
        bottom: 0;
        left: 0;
        background-size: 70px;
        opacity: .4;
    }

    .masthead {
        padding-top: 60px;
    }

    .masthead h1 {
        font-size: 60px;
        line-height: 55px;
        letter-spacing: -2px;
    }

    #sub-header {
        display: none;
    }

    #outer-container {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #social-links-nav {
        display: none;
    }

    #sidebar1 {
        display: none;
    }
}
